# defense in depth (public repo)
.ssh/
.cache/
.config/
.local/
.gnupg/
.pki/
.bash_history
.gitconfig
.lesshst

# heavy runtime data
**/wordpress-compose/data/
**/data/

# logs/temp
*.log
*.swp
*~
.DS_Store
